<!DOCTYPE html>
<html>
<% include ./parts/head.html %>
    <!-- source http://www.scnoob.com More templates http://www.scnoob.com/moban -->

    <body>
        <div class="app header-default side-nav-dark">
            <div class="layout">
                <% include ./parts/topNav.html %>
                    <% include ./parts/leftNav.html %>
                      


                    <% include ./parts/foot.html %>
            </div>
    </body>

    <!-- source http://www.scnoob.com More templates http://www.scnoob.com/moban -->

</html>